Cannoneer flows KEYS REMOVED.json
[{"id":"7289b012.4c592","type":"tab","label":"Cannoneer","disabled":false,"info":""},{"id":"fd268c5e.1a0a4","type":"tab","label":"Burninator","disabled":false,"info":""},{"id":"f06faaff.913308","type":"tab","label":"DB","disabled":false,"info":""},{"id":"29235876.a28e58","type":"sqlitedb","db":"TelegramUsers","mode":"RWC"},{"id":"a7372584.267658","type":"function","z":"fd268c5e.1a0a4","name":"Monitor Account","func":"var StellarSdk = global.get(\"stellarsdk\");\nvar server = new StellarSdk.Server(\"https://horizon-testnet.stellar.org\");\nvar accountId = \"GARCVA5752SK34MMPQJ2NI4UYMNP35BN43PEEC5DCYFOSF3ICOTPJBCT\";\nflow.set('accountId',accountId);\nvar sender = 0;\nvar type = 0;\nvar amount_rec = 0;\nflow.set('amount_rec',amount_rec);\nvar wait=0;\n    \n// Create an API call to query payments involving the account.\nvar payments = server.payments().forAccount(accountId);\n\n// If some payments have already been handled, start the results from the\n// last seen payment. (See below in `handlePayment` where it gets saved.)\nvar lastToken = loadLastPagingToken();\nif (lastToken) {\n  payments.cursor(lastToken);\n}\n\n// `stream` will send each recorded payment, one by one, then keep the\n// connection open and continue to send you new payments as they occur.\npayments.stream({\n  onmessage: function (payment) {\n    // Record the paging token so we can start from here next time.\n    savePagingToken(payment.paging_token);\n\n    // The payments stream includes both sent and received payments. We only\n    // want to process received payments here.\n    if (payment.to !== accountId) {\n      return;\n    }\n\n    // In Stellar’s API, Lumens are referred to as the “native” type. Other\n    // asset types have more detailed information.\n    var asset;\n    if (payment.asset_type === \"native\") {\n      asset = \"lumens\";\n    } else {\n      asset = payment.asset_code;\n    }\n    //console.log(payment.amount + \" \" + asset + \" from \" + payment.from);\n    msg.payload=\"amount: \"+payment.amount+\" asset: \"+asset+\" payment from: \"+payment.from\n    sender = payment.from;\n    type = asset;\n    amount_rec = payment.amount;\n    flow.set('sender',sender);\n    flow.set('type',type);\n    flow.set('amount_rec',amount_rec);\n    \n    \n    node.send(msg)\n   // var wait=2;\n  //  flow.set('wait',wait)\n    //node.send(msg.payload)\n  },\n\n\n\n  onerror: function (error) {\n    console.error(\"Error in payment stream\");\n  },\n});\n\nfunction savePagingToken(token) {\n  // In most cases, you should save this to a local database or file so that\n  // you can load it next time you stream new payments.\n}\n\nfunction loadLastPagingToken() {\n  // Get the last paging token from a local database or file\n}\n\n//return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":160,"wires":[["d11a4c8f.27067","2e956ea.8520292"]]},{"id":"d11a4c8f.27067","type":"switch","z":"fd268c5e.1a0a4","name":"","property":"type","propertyType":"flow","rules":[{"t":"eq","v":"TRRT","vt":"str"},{"t":"eq","v":"lumens","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":360,"y":176,"wires":[["d744ae77.0b04d"],["9866cd44.65449"]]},{"id":"2e956ea.8520292","type":"debug","z":"fd268c5e.1a0a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":720,"y":96,"wires":[]},{"id":"eedcaa7a.70d718","type":"comment","z":"fd268c5e.1a0a4","name":"Received payment response","info":"","x":410,"y":96,"wires":[]},{"id":"d744ae77.0b04d","type":"function","z":"fd268c5e.1a0a4","name":"TRRT","func":"var wait=2\nflow.set('wait',wait)\n\nvar amount_rec = flow.get('amount_rec',amount_rec);\n\nmsg.payload = \"BURNING \"+amount_rec+\" TRRT!\"\n\n\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":160,"wires":[["35ca04a1.ab6e9c","2a90b7ce.921848","960ba549.755278","825f36ae.e014b8"]]},{"id":"9866cd44.65449","type":"function","z":"fd268c5e.1a0a4","name":"XLM","func":"var amount_rec = flow.get('amount_rec',amount_rec);\n\nmsg.payload = \"Thanks for the \"+amount_rec+\" Lumens!\"\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":236,"wires":[[]]},{"id":"27e0ccd2.5d2fd4","type":"function","z":"fd268c5e.1a0a4","name":"How much TRRT?","func":"msg.payload.type = 'message';\nmsg.payload.content = 'How much TRRT to burn?';\nmsg.payload.options = {reply_to_message_id : msg.payload.messageId}\n\nreturn [ msg ];\n","outputs":"1","noerr":0,"initialize":"","finalize":"","x":270,"y":760,"wires":[["fc04c8c4.920958"]]},{"id":"b9a34c0c.90815","type":"telegram command","z":"fd268c5e.1a0a4","name":"/burn","command":"/burn","bot":"","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":70,"y":600,"wires":[["67e7e38c.45a6ec","b8749104.cb83e","d499f2c8.9669b"]]},{"id":"fc04c8c4.920958","type":"telegram sender","z":"fd268c5e.1a0a4","name":"send question","bot":"","haserroroutput":false,"outputs":1,"x":470,"y":760,"wires":[["f830e37b.3659d"]]},{"id":"f830e37b.3659d","type":"telegram reply","z":"fd268c5e.1a0a4","name":"get reply","bot":"","x":645,"y":760,"wires":[["adaf9153.89c2","6902f842.27eec8"]]},{"id":"adaf9153.89c2","type":"function","z":"fd268c5e.1a0a4","name":"store amount","func":"var amount = msg.payload\nflow.set('amount',amount);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1150,"y":660,"wires":[[]]},{"id":"76d7e447.1aa12c","type":"function","z":"fd268c5e.1a0a4","name":"Submit TRRT Burn","func":"var StellarSdk = global.get(\"stellarsdk\");\nvar server = new StellarSdk.Server(\"https://horizon-testnet.stellar.org\");\n//var secret = msg.payload.content;\nvar secret = msg.topic;\nvar recipient = \"GARCVA5752SK34MMPQJ2NI4UYMNP35BN43PEEC5DCYFOSF3ICOTPJBCT\";\nvar amount = flow.get('amount',amount);\n\nvar sourceKeys = StellarSdk.Keypair.fromSecret(secret);\nvar destinationId = recipient;\n// Transaction will hold a built transaction we can resubmit if the result is unknown.\nvar transaction;\n\n// First, check to make sure that the destination account exists.\n// You could skip this, but if the account does not exist, you will be charged\n// the transaction fee when the transaction fails.\nserver\n  .loadAccount(destinationId)\n  // If the account is not found, surface a nicer error message for logging.\n  .catch(function (error) {\n    if (error instanceof StellarSdk.NotFoundError) {\n      throw new Error(\"The destination account does not exist!\");\n    } else return error;\n  })\n  // If there was no error, load up-to-date information on your account.\n  .then(function () {\n    return server.loadAccount(sourceKeys.publicKey());\n  })\n  .then(function (sourceAccount) {\n    // Start building the transaction.\n    transaction = new StellarSdk.TransactionBuilder(sourceAccount, {\n      fee: StellarSdk.BASE_FEE,\n      networkPassphrase: StellarSdk.Networks.TESTNET,\n    })\n      .addOperation(\n        StellarSdk.Operation.payment({\n          destination: destinationId,\n          // Because Stellar allows transaction in many currencies, you must\n          // specify the asset type. The special \"native\" asset represents Lumens.\n          //asset: StellarSdk.Asset.native(),\n          asset: new StellarSdk.Asset(\"TRRT\",\"GARCVA5752SK34MMPQJ2NI4UYMNP35BN43PEEC5DCYFOSF3ICOTPJBCT\"),\n          amount: amount,\n        }),\n      )\n      // A memo allows you to add your own metadata to a transaction. It's\n      // optional and does not affect how Stellar treats the transaction.\n      .addMemo(StellarSdk.Memo.text('BURN BABY BURN'))\n      // Wait a maximum of three minutes for the transaction\n      .setTimeout(180)\n      .build();\n    // Sign the transaction to prove you are actually the person sending it.\n    transaction.sign(sourceKeys);\n    // And finally, send it off to Stellar!\n    return server.submitTransaction(transaction);\n  })\n  .then(function (result) {\n    console.log(\"Success! Results:\", result);\n    msg.payload=\"Success\"+\" https://stellar.expert/explorer/testnet/account/\"+sourceKeys.publicKey();\n    node.send(msg);\n  })\n  .catch(function (error) {\n    console.error(\"Something went wrong!\", error);\n    // If the result is unknown (no response body, timeout etc.) we simply resubmit\n    // already built transaction:\n    // server.submitTransaction(transaction);\n  });","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":1080,"wires":[["678b8d7a.7fa004","bb2e0b05.447f98"]]},{"id":"678b8d7a.7fa004","type":"debug","z":"fd268c5e.1a0a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1350,"y":1160,"wires":[]},{"id":"b5c55b49.7cb028","type":"telegram sender","z":"fd268c5e.1a0a4","name":"send question","bot":"","haserroroutput":false,"outputs":1,"x":1540,"y":1060,"wires":[[]]},{"id":"22e5b5e2.332ffa","type":"function","z":"fd268c5e.1a0a4","name":"Burning TRRT!","func":"msg.payload.type = 'message';\nvar amount = flow.get('amount',amount);\nmsg.payload.content = \"BURNING \"+amount+\" TRRT!\";\nmsg.payload.options = {reply_to_message_id : msg.payload.messageId}\nvar chatId = -1001473011433;\nmsg.payload.chatId = chatId;\n\nreturn [ msg ];\n","outputs":"1","noerr":0,"initialize":"","finalize":"","x":960,"y":960,"wires":[["b5c55b49.7cb028"]]},{"id":"4d9d6fb6.2df79","type":"telegram sender","z":"fd268c5e.1a0a4","name":"send question","bot":"","haserroroutput":false,"outputs":1,"x":480,"y":960,"wires":[["21197e9d.a20d42"]]},{"id":"21197e9d.a20d42","type":"telegram reply","z":"fd268c5e.1a0a4","name":"get reply","bot":"","x":655,"y":960,"wires":[["76d7e447.1aa12c","22e5b5e2.332ffa","8635f93b.df78c8"]]},{"id":"b81089a9.714d08","type":"function","z":"fd268c5e.1a0a4","name":"Secret Key?","func":"msg.payload.type = 'message';\nmsg.payload.content = 'Secret Key?';\n//msg.payload.options = {reply_to_message_id : msg.payload.messageId}\nvar user = msg.originalMessage.from.id;\nmsg.payload.chatId = user;\nflow.set('user',user);\n\nreturn [ msg ];\n\n/*\nmsg.payload = {\n    chatId: user,\n    type: 'message',\n    content: msg.payload\n}\n*/","outputs":"1","noerr":0,"initialize":"","finalize":"","x":250,"y":960,"wires":[["4d9d6fb6.2df79"]]},{"id":"fcedb0cb.cb28f","type":"function","z":"fd268c5e.1a0a4","name":"plug payload","func":"msg.payload ={\n   dps : 1,\n    set : msg.payload\n}\n\n/*\n\n    */\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1190,"y":400,"wires":[["380a1f10.c92a5","26334338.cd837c"]]},{"id":"7c034072.80b36","type":"change","z":"fd268c5e.1a0a4","name":"plug on","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":340,"wires":[["fcedb0cb.cb28f","3e336d2e.bb3cd2","4e11b3e5.57a00c"]]},{"id":"a06c3c41.64ace","type":"change","z":"fd268c5e.1a0a4","name":"plug off","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":320,"wires":[["fcedb0cb.cb28f","3e336d2e.bb3cd2","825f36ae.e014b8"]]},{"id":"25d49bd.6259d64","type":"inject","z":"fd268c5e.1a0a4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":100,"wires":[["a7372584.267658"]]},{"id":"67e7e38c.45a6ec","type":"function","z":"fd268c5e.1a0a4","name":"store chatid","func":"var chatId = msg.payload.chatId;\nflow.set('chatId',chatId);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":640,"wires":[[]]},{"id":"35ca04a1.ab6e9c","type":"function","z":"fd268c5e.1a0a4","name":"Create message","func":"var chatId = flow.get('chatId',chatId)\nmsg.payload = {\n    chatId: chatId,\n    type: 'message',\n    content: \"BURN BABY BURN\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":100,"wires":[["85c0d9b0.546e58"]]},{"id":"85c0d9b0.546e58","type":"telegram sender","z":"fd268c5e.1a0a4","name":"send msg","bot":"","haserroroutput":false,"outputs":1,"x":1380,"y":100,"wires":[[]]},{"id":"380a1f10.c92a5","type":"tuya-smart-device","z":"fd268c5e.1a0a4","deviceName":"Monitor Plug","deviceId":"","deviceKey":"","deviceIp":"","retryTimeout":"1000","findTimeout":"1000","tuyaVersion":"3.1","x":1370,"y":400,"wires":[[]]},{"id":"26334338.cd837c","type":"tuya-smart-device","z":"fd268c5e.1a0a4","deviceName":"Monitor Plug","deviceId":"","deviceKey":"","deviceIp":"","retryTimeout":"1000","findTimeout":"1000","tuyaVersion":"3.1","x":1370,"y":460,"wires":[[]]},{"id":"42e3b6ba.72e758","type":"function","z":"fd268c5e.1a0a4","name":"","func":"msg.payload ={\n   dps : 1,\n    set : true\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":480,"wires":[["380a1f10.c92a5","26334338.cd837c"]]},{"id":"53aa726f.a1c0bc","type":"inject","z":"fd268c5e.1a0a4","name":"FLAME ON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":480,"wires":[["42e3b6ba.72e758"]]},{"id":"e4044bea.b70ac8","type":"function","z":"fd268c5e.1a0a4","name":"","func":"msg.payload ={\n   dps : 1,\n    set : false\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":540,"wires":[["380a1f10.c92a5","26334338.cd837c"]]},{"id":"7d3f0395.a584ec","type":"inject","z":"fd268c5e.1a0a4","name":"FLAME OFF","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":540,"wires":[["e4044bea.b70ac8"]]},{"id":"4908bda1.1e69f4","type":"switch","z":"fd268c5e.1a0a4","name":"","property":"flamearm","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":970,"y":240,"wires":[["7c034072.80b36"],["b53eb80.7879f48"]]},{"id":"3bdce420.9aa35c","type":"inject","z":"fd268c5e.1a0a4","name":"FLAME ARM TOGGLE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":280,"wires":[["8f4eb3fb.a6579"]]},{"id":"8f4eb3fb.a6579","type":"function","z":"fd268c5e.1a0a4","name":"set flamearm var","func":"var flamearm = flow.get('flamearm',flamearm)\n\nif(flamearm === 0){\n    flamearm = 1;\n}\nelse {\n    flamearm = 0\n}\n\nflow.set('flamearm',flamearm)\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nvar flamearm = 0\nflow.set('flamearm',flamearm)","finalize":"","x":350,"y":280,"wires":[["aef5f0a2.b6905"]]},{"id":"b53eb80.7879f48","type":"function","z":"fd268c5e.1a0a4","name":"Create message","func":"var chatId = flow.get('chatId',chatId)\nmsg.payload = {\n    chatId: chatId,\n    type: 'message',\n    content: \"FLAMES CURRENTLY DISARMED\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":320,"wires":[["8293300d.99c1d"]]},{"id":"8293300d.99c1d","type":"telegram sender","z":"fd268c5e.1a0a4","name":"send msg","bot":"","haserroroutput":false,"outputs":1,"x":920,"y":320,"wires":[[]]},{"id":"2499995b.8d7436","type":"function","z":"fd268c5e.1a0a4","name":"FLAMES ARMED","func":"//var chatId = flow.get('chatId',chatId)\nmsg.payload = {\n    chatId: \"-1001473011433\",\n    type: 'message',\n    content: \"FLAMES ARMED!\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":360,"wires":[["5663b3e1.7c2fbc"]]},{"id":"5663b3e1.7c2fbc","type":"telegram sender","z":"fd268c5e.1a0a4","name":"send msg","bot":"","haserroroutput":false,"outputs":1,"x":520,"y":360,"wires":[[]]},{"id":"ca7fc94c.1ef3b8","type":"sqlite","z":"f06faaff.913308","mydb":"","sqlquery":"msg.topic","sql":"","name":"","x":590,"y":260,"wires":[["43d8aca9.2b0aa4","dac51540.2c31f8"]]},{"id":"3a499982.8c33e6","type":"inject","z":"f06faaff.913308","name":"CREATE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE TeleUsers(id INTEGER, public TEXT, private TEXT, trrt NUMERIC)","payload":"","payloadType":"date","x":140,"y":100,"wires":[["2502592a.542466"]]},{"id":"73d96b08.6aae44","type":"inject","z":"f06faaff.913308","name":"INSERT","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"INSERT INTO TeleUsersTest(id, public, private) values(358, \"WZAH51\", \"lK257\")","payload":"","payloadType":"date","x":140,"y":140,"wires":[["ca7fc94c.1ef3b8"]]},{"id":"c69128c.e7209d8","type":"inject","z":"f06faaff.913308","name":"SELECT","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT * FROM TeleUsersTest","payload":"","payloadType":"date","x":140,"y":180,"wires":[["ca7fc94c.1ef3b8"]]},{"id":"1e89b6c3.555769","type":"inject","z":"f06faaff.913308","name":"DELETE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"DELETE from TeleUsersTest","payload":"","payloadType":"date","x":140,"y":220,"wires":[["ca7fc94c.1ef3b8"]]},{"id":"9666038.0433b","type":"inject","z":"f06faaff.913308","name":"DROP","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"DROP TABLE TeleUsersTest","payload":"","payloadType":"date","x":130,"y":260,"wires":[["ca7fc94c.1ef3b8"]]},{"id":"43d8aca9.2b0aa4","type":"debug","z":"f06faaff.913308","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":260,"wires":[]},{"id":"2490f4dd.37a91c","type":"inject","z":"f06faaff.913308","name":"SELECT 357","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT * FROM TeleUsersTest WHERE id=357","payload":"","payloadType":"date","x":130,"y":460,"wires":[["ca7fc94c.1ef3b8"]]},{"id":"b0702fae.c018b","type":"inject","z":"f06faaff.913308","name":"user 358","props":[{"p":"payload"},{"p":"topic","v":"358","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"356","payloadType":"num","x":120,"y":540,"wires":[["11bdd454.f7829c"]]},{"id":"8bc9463e.c7e4d8","type":"inject","z":"f06faaff.913308","name":"SELECT user","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT * FROM TeleUsersTest WHERE id=user","payload":"","payloadType":"date","x":130,"y":500,"wires":[["6b7b87e2.b335d8"]]},{"id":"11bdd454.f7829c","type":"function","z":"f06faaff.913308","name":"","func":"var user = msg.payload\nflow.set('user',user)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":540,"wires":[[]]},{"id":"6b7b87e2.b335d8","type":"function","z":"f06faaff.913308","name":"","func":"var user = flow.get('user',user)\nmsg.topic = \"SELECT * FROM TeleUsersTest WHERE id=\"+user\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":500,"wires":[["ca7fc94c.1ef3b8"]]},{"id":"dac51540.2c31f8","type":"function","z":"f06faaff.913308","name":"","func":"var public = msg.payload[0].public\nvar private = msg.payload[0].private\nflow.set('public',public)\nflow.set('private',private)\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":320,"wires":[[]]},{"id":"2502592a.542466","type":"sqlite","z":"f06faaff.913308","mydb":"29235876.a28e58","sqlquery":"msg.topic","sql":"","name":"","x":600,"y":540,"wires":[["43d8aca9.2b0aa4"]]},{"id":"aef5f0a2.b6905","type":"switch","z":"fd268c5e.1a0a4","name":"","property":"flamearm","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":150,"y":340,"wires":[["2499995b.8d7436"],["e73f54d9.aa31a8"]]},{"id":"e73f54d9.aa31a8","type":"function","z":"fd268c5e.1a0a4","name":"FLAMES DISAMRED","func":"//var chatId = flow.get('chatId',chatId)\nmsg.payload = {\n    chatId: \"-1001473011433\",\n    type: 'message',\n    content: \"BURNINATOR DISARMED\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":400,"wires":[["5663b3e1.7c2fbc"]]},{"id":"6902f842.27eec8","type":"function","z":"fd268c5e.1a0a4","name":"check for secret","func":"var user = msg.originalMessage.from.id;\nmsg.payload.chatId = user;\nflow.set('user',user);\n\nmsg.topic = \"SELECT * FROM TeleUsers WHERE id=\"+user\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":760,"wires":[["11483232.68725e"]]},{"id":"60f613de.36fa6c","type":"function","z":"fd268c5e.1a0a4","name":"retrieve secret","func":"msg.payload.content=msg.payload[0].private\nmsg.topic=msg.payload[0].private\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":840,"wires":[["76d7e447.1aa12c","af54520d.4bb1d","acc5a18f.7fe19","96f0d18f.43838","82d20e9b.67948"]]},{"id":"11483232.68725e","type":"sqlite","z":"fd268c5e.1a0a4","mydb":"29235876.a28e58","sqlquery":"msg.topic","sql":"","name":"TelegramUsers","x":1040,"y":760,"wires":[["b861b794.06fb88"]]},{"id":"b861b794.06fb88","type":"switch","z":"fd268c5e.1a0a4","name":"get secret","property":"payload[0].id","propertyType":"msg","rules":[{"t":"eq","v":"user","vt":"flow"},{"t":"null"}],"checkall":"false","repair":false,"outputs":2,"x":320,"y":840,"wires":[["60f613de.36fa6c","8d8ba4d.b102958"],["b81089a9.714d08"]]},{"id":"af54520d.4bb1d","type":"function","z":"fd268c5e.1a0a4","name":"Burning TRRT!","func":"msg.payload.type = 'message';\nvar amount = flow.get('amount',amount);\nmsg.payload.content = \"BURNING \"+amount+\" TRRT!\";\n//msg.payload.options = {reply_to_message_id : msg.payload.messageId}\nvar chatId = -1001473011433;\nmsg.payload.chatId = chatId;\n\nreturn [ msg ];\n\n/*\nmsg.payload = {\n    chatId: user,\n    type: 'message',\n    content: msg.payload\n}\n*/","outputs":"1","noerr":0,"initialize":"","finalize":"","x":960,"y":840,"wires":[["b5c55b49.7cb028","acc5a18f.7fe19"]]},{"id":"34630247.7975ce","type":"inject","z":"f06faaff.913308","name":"DELETE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"DELETE from TeleUsers","payload":"","payloadType":"date","x":120,"y":580,"wires":[["2502592a.542466"]]},{"id":"7720e5d8.b8cf1c","type":"inject","z":"f06faaff.913308","name":"SELECT","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT * FROM TeleUsers","payload":"","payloadType":"date","x":120,"y":620,"wires":[["2502592a.542466"]]},{"id":"6ca7c660.5b5928","type":"sqlite","z":"fd268c5e.1a0a4","mydb":"29235876.a28e58","sqlquery":"msg.topic","sql":"","name":"TelegramUsers","x":480,"y":1060,"wires":[["7332e133.ce239"]]},{"id":"8635f93b.df78c8","type":"function","z":"fd268c5e.1a0a4","name":"add user","func":"var user = flow.get('user',user);\n//var public = flow.get('public',public);\nvar private = msg.payload.content;\n\nvar StellarSdk = global.get(\"stellarsdk\");\nvar server = new StellarSdk.Server(\"https://horizon-testnet.stellar.org\");\nvar sourceKeys = StellarSdk.Keypair.fromSecret(private);\nvar public = sourceKeys.publicKey();\n\nmsg.topic = \"INSERT INTO TeleUsers(id, public, private) values(\"+user+\", \"+'\"'+public+'\", '+'\"'+private+'\")'\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":1060,"wires":[["6ca7c660.5b5928","6b02a73c.a088a8"]]},{"id":"7332e133.ce239","type":"debug","z":"fd268c5e.1a0a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":1060,"wires":[]},{"id":"6b02a73c.a088a8","type":"debug","z":"fd268c5e.1a0a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":480,"y":1140,"wires":[]},{"id":"92c23316.523","type":"rpi-gpio out","z":"7289b012.4c592","name":"Fire","pin":"16","set":true,"level":"0","freq":"","out":"out","x":1750,"y":180,"wires":[]},{"id":"42f7a977.2b8b88","type":"delay","z":"7289b012.4c592","name":"","pauseType":"delay","timeout":".5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1400,"y":240,"wires":[["be6e5b8.9a48ca8"]]},{"id":"be6e5b8.9a48ca8","type":"change","z":"7289b012.4c592","name":"disengage firing pin","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1570,"y":240,"wires":[["92c23316.523"]]},{"id":"65997059.aa96b","type":"rpi-gpio out","z":"7289b012.4c592","name":"DOWN","pin":"36","set":true,"level":"0","freq":"","out":"out","x":1560,"y":1340,"wires":[]},{"id":"e9b4310f.ad735","type":"rpi-gpio out","z":"7289b012.4c592","name":"UP","pin":"38","set":true,"level":"0","freq":"","out":"out","x":1570,"y":1180,"wires":[]},{"id":"8655d415.6b50f8","type":"change","z":"7289b012.4c592","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":1260,"wires":[["e9b4310f.ad735"]]},{"id":"5c769a67.d21ab4","type":"change","z":"7289b012.4c592","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":1340,"wires":[["65997059.aa96b"]]},{"id":"8d4b36af.42e078","type":"delay","z":"7289b012.4c592","name":"","pauseType":"delay","timeout":".5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1140,"y":1180,"wires":[["b365e2c4.fce78"]]},{"id":"b365e2c4.fce78","type":"change","z":"7289b012.4c592","name":"reset","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1310,"y":1180,"wires":[["65997059.aa96b","e9b4310f.ad735"]]},{"id":"34a3d015.e592b","type":"telegram command","z":"7289b012.4c592","name":"FIRE","command":"/fire","bot":"","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":130,"y":340,"wires":[["9b3b2b32.f99898"],[]]},{"id":"1414b928.917b77","type":"change","z":"7289b012.4c592","name":"firing string","rules":[{"t":"set","p":"payload","pt":"msg","to":"FIRING!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":280,"wires":[["abb0d4d4.dbf478"]]},{"id":"2a656616.79d98a","type":"inject","z":"7289b012.4c592","name":"firing inject","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"firing","payloadType":"str","x":140,"y":300,"wires":[["1414b928.917b77"]]},{"id":"e0d7fbbd.6b9f78","type":"change","z":"7289b012.4c592","name":"firing pin","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":200,"wires":[["92c23316.523","89a0eb08.ba4be8"]]},{"id":"43c7d113.a68be","type":"telegram command","z":"7289b012.4c592","name":"DOWN","command":"/down","bot":"","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":150,"y":1260,"wires":[["1724de60.d76532"],[]]},{"id":"f7fd1ea9.e2ce1","type":"telegram command","z":"7289b012.4c592","name":"UP","command":"/up","bot":"","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":150,"y":1300,"wires":[["18b1218.88079df"]]},{"id":"c13a5cea.40588","type":"change","z":"7289b012.4c592","name":"down string","rules":[{"t":"set","p":"payload","pt":"msg","to":"to the floor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":1440,"wires":[["abb0d4d4.dbf478"]]},{"id":"c93a6d.1bfdb59","type":"change","z":"7289b012.4c592","name":"up string","rules":[{"t":"set","p":"payload","pt":"msg","to":"to the sky","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":1400,"wires":[["abb0d4d4.dbf478"]]},{"id":"abb0d4d4.dbf478","type":"function","z":"7289b012.4c592","name":"Create message","func":"msg.payload = {\n    chatId: '-1001473011433',\n    type: 'message',\n    content: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2440,"y":1520,"wires":[["4fbb9bca.348624"]]},{"id":"4fbb9bca.348624","type":"telegram sender","z":"7289b012.4c592","name":"send msg","bot":"","haserroroutput":false,"outputs":1,"x":2620,"y":1460,"wires":[[]]},{"id":"9558fee3.122ed","type":"change","z":"7289b012.4c592","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":1300,"wires":[["e9b4310f.ad735"]]},{"id":"72742b51.bbd224","type":"change","z":"7289b012.4c592","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":1220,"wires":[["65997059.aa96b"]]},{"id":"5e28dc6.9675624","type":"telegram command","z":"7289b012.4c592","name":"TEST","command":"/test","bot":"","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":150,"y":1520,"wires":[["bd0cd395.7790c"],[]]},{"id":"bd0cd395.7790c","type":"change","z":"7289b012.4c592","name":"test string","rules":[{"t":"set","p":"payload","pt":"msg","to":"At the ready, sir.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":1520,"wires":[["abb0d4d4.dbf478"]]},{"id":"322ff78.96d7f08","type":"function","z":"7289b012.4c592","name":"check counter","func":"var count=context.get('count');\nif (typeof count==\"undefined\")\ncount=0;\ncount=count+1\nmsg.payload=\"Checked \" +count +\" times\"\ncontext.set('count',count);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":1640,"wires":[["abb0d4d4.dbf478"]]},{"id":"c21c62f8.a205b","type":"telegram command","z":"7289b012.4c592","name":"CHECK","command":"/check","bot":"","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":150,"y":1620,"wires":[["322ff78.96d7f08"],[]]},{"id":"4715150d.10bb3c","type":"inject","z":"7289b012.4c592","name":"CHECK inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"firing","payloadType":"str","x":170,"y":1680,"wires":[["322ff78.96d7f08"]]},{"id":"d84f76ba.b43838","type":"rpi-gpio out","z":"7289b012.4c592","name":"Left","pin":"7","set":true,"level":"0","freq":"","out":"out","x":1430,"y":780,"wires":[]},{"id":"a217a27a.f905","type":"rpi-gpio out","z":"7289b012.4c592","name":"Right","pin":"13","set":true,"level":"0","freq":"","out":"out","x":1430,"y":940,"wires":[]},{"id":"e502a13e.cf8f5","type":"change","z":"7289b012.4c592","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":820,"wires":[["a217a27a.f905"]]},{"id":"8661cf83.637d1","type":"change","z":"7289b012.4c592","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":900,"wires":[["d84f76ba.b43838"]]},{"id":"478f8a4a.921b34","type":"delay","z":"7289b012.4c592","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1140,"y":940,"wires":[["43e1e504.db9e6c"]]},{"id":"43e1e504.db9e6c","type":"change","z":"7289b012.4c592","name":"reset","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":940,"wires":[["d84f76ba.b43838","a217a27a.f905"]]},{"id":"601de05.d964f2","type":"telegram command","z":"7289b012.4c592","name":"LEFT","command":"/left","bot":"","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":150,"y":820,"wires":[["abcdd0ef.6e1f2"]]},{"id":"d7026d25.ede73","type":"telegram command","z":"7289b012.4c592","name":"RIGHT","command":"/right","bot":"","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":150,"y":880,"wires":[["ff6f3a21.810468"]]},{"id":"b230b4c6.b4ade8","type":"change","z":"7289b012.4c592","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":780,"wires":[["d84f76ba.b43838"]]},{"id":"8ae333e0.18cde","type":"change","z":"7289b012.4c592","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":860,"wires":[["a217a27a.f905"]]},{"id":"1724de60.d76532","type":"change","z":"7289b012.4c592","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":1260,"wires":[["5cf56bcf.06ee54"]]},{"id":"5cf56bcf.06ee54","type":"function","z":"7289b012.4c592","name":"Limit Check","func":"var y=context.get('y');\nif (typeof y==\"undefined\")\ny=0;\nvar msg2 = { payload: y }\nif (msg.payload === 0 & y > -999) {\n    y=y-1\n    msg2.payload = y\n    context.set('y',y);\n    return [msg, msg2];\n}\nif (msg.payload === 1 & y < 999) {\n    y=y+1\n    msg2.payload = y\n    context.set('y',y);\n    return [msg, msg2];\n}\nif (msg.payload === 0 & y === -999) {\n    msg2.payload = y\n    context.set('y',y);\n    return [null, msg2];\n}\nif (msg.payload === 1 & y === 999) {\n    msg2.payload = y\n    context.set('y',y);\n    return [null, msg2];\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":650,"y":1280,"wires":[["44d69434.0cb00c"],["282cdadb.bacfa6"]]},{"id":"18b1218.88079df","type":"change","z":"7289b012.4c592","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":1300,"wires":[["5cf56bcf.06ee54"]]},{"id":"44d69434.0cb00c","type":"switch","z":"7289b012.4c592","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":850,"y":1280,"wires":[["72742b51.bbd224","8655d415.6b50f8","8d4b36af.42e078","c13a5cea.40588"],["c93a6d.1bfdb59","9558fee3.122ed","5c769a67.d21ab4","8d4b36af.42e078"]]},{"id":"282cdadb.bacfa6","type":"function","z":"7289b012.4c592","name":"Y coord message","func":"msg.payload=\"Y = \" + msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1350,"y":1560,"wires":[["abb0d4d4.dbf478"]]},{"id":"d481f971.2281d8","type":"inject","z":"7289b012.4c592","name":"LEFT inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"firing","payloadType":"str","x":160,"y":760,"wires":[["b230b4c6.b4ade8","e502a13e.cf8f5","478f8a4a.921b34"]]},{"id":"6bd42f2f.87119","type":"function","z":"7289b012.4c592","name":"send command","func":"var x=context.get('arm');\nif (typeof arm==\"undefined\")\narm=0;\nif (typeof adminarm==\"undefined\")\nadminarm=0;\ncontext.set('adminarm',adminarm);\nif (msg.payload === 0 & arm === 0) {\n    context.set('arm',arm);\n    msg.payload = 4;\n    return msg;\n}\nif (msg.payload === 0 & arm === 1 & adminarm === 1) {\n    context.set('arm',arm);\n    return msg;\n}\nif (msg.payload === 1) {\n    arm = 0\n    context.set('arm',arm);\n    return msg;\n}\nif (msg.payload === 2 & arm === 0) {\n    context.set('arm',arm);\n    return msg;\n}\nif (msg.payload === 3) {\n    arm = 1\n    context.set('arm',arm);\n    return msg;\n}\nif (msg.payload === 2 & arm === 1) {\n    context.set('arm',arm);\n    msg.payload = 5;\n    return msg;\n}\nif (msg.payload === 6) {\n    adminarm = 1;\n    context.set('adminarm',adminarm);\n    return msg;\n}\nif (msg.payload === 7) {\n    adminarm = 0;\n    context.set('adminarm',adminarm);\n    return msg;\n}\nif (msg.payload === 0 & adminarm ===0) {\n    msg.payload = 8;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":440,"wires":[["b7002bc7.1587c8","4b18d5d6.628a2c"]]},{"id":"f8ae848f.fd6c38","type":"change","z":"7289b012.4c592","name":"fire=0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":240,"wires":[["6bd42f2f.87119"]]},{"id":"423685a3.56987c","type":"telegram command","z":"7289b012.4c592","name":"DISARM","command":"/disarm","bot":"","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":140,"y":400,"wires":[["1be79d92.3fb022"],[]]},{"id":"917cba58.384f88","type":"telegram command","z":"7289b012.4c592","name":"ARM","command":"/arm","bot":"","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":130,"y":460,"wires":[["4f81df8a.e5f82"],[]]},{"id":"1be79d92.3fb022","type":"change","z":"7289b012.4c592","name":"disarm=1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":400,"wires":[["6bd42f2f.87119"]]},{"id":"4f81df8a.e5f82","type":"change","z":"7289b012.4c592","name":"arm=2","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":460,"wires":[["6bd42f2f.87119"]]},{"id":"b7002bc7.1587c8","type":"switch","z":"7289b012.4c592","name":"0=fire 1=disarm \\n 2=arm 3=disarm \\n 4=already armed \\n 5=","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"eq","v":"7","vt":"num"},{"t":"eq","v":"8","vt":"num"}],"checkall":"false","repair":false,"outputs":8,"x":970,"y":400,"wires":[["1414b928.917b77","e0d7fbbd.6b9f78","42f7a977.2b8b88","f259e7c1.920338","eaea9bbc.96edc8"],["a12f7c01.f84a5"],["16e3bbdd.ad8434"],["416826b0.83cd18"],["5a9bc668.04df58"],["dd30d321.19a6"],["63885f30.78f8b"],["63885f30.78f8b"]]},{"id":"16e3bbdd.ad8434","type":"change","z":"7289b012.4c592","name":"arming  in string","rules":[{"t":"set","p":"payload","pt":"msg","to":"Arming in...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":360,"wires":[["abb0d4d4.dbf478","285c69cb.df51f6"]]},{"id":"a12f7c01.f84a5","type":"change","z":"7289b012.4c592","name":"disarm string","rules":[{"t":"set","p":"payload","pt":"msg","to":"Disarmed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":320,"wires":[["abb0d4d4.dbf478"]]},{"id":"9c183858.0d3048","type":"change","z":"7289b012.4c592","name":"=3","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1670,"y":360,"wires":[["cbf57fed.b8548","abb0d4d4.dbf478"]]},{"id":"cbf57fed.b8548","type":"delay","z":"7289b012.4c592","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1620,"y":400,"wires":[["fb3d1d59.a5a52"]]},{"id":"fb3d1d59.a5a52","type":"change","z":"7289b012.4c592","name":"=2","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1750,"y":400,"wires":[["5886f6d1.449178","abb0d4d4.dbf478"]]},{"id":"5886f6d1.449178","type":"delay","z":"7289b012.4c592","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1660,"y":440,"wires":[["3b388931.cb2e56"]]},{"id":"3b388931.cb2e56","type":"change","z":"7289b012.4c592","name":"=1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1790,"y":440,"wires":[["4019ec48.0f2af4","abb0d4d4.dbf478"]]},{"id":"4019ec48.0f2af4","type":"delay","z":"7289b012.4c592","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1720,"y":480,"wires":[["9a3d49c2.9de518"]]},{"id":"9a3d49c2.9de518","type":"change","z":"7289b012.4c592","name":"Ready to Fire","rules":[{"t":"set","p":"payload","pt":"msg","to":"Ready to fire","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1880,"y":480,"wires":[["abb0d4d4.dbf478","8cb7fead.99b43"]]},{"id":"8cb7fead.99b43","type":"change","z":"7289b012.4c592","name":"=3","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":500,"wires":[["6bd42f2f.87119"]]},{"id":"416826b0.83cd18","type":"change","z":"7289b012.4c592","name":"disarmed string","rules":[{"t":"set","p":"payload","pt":"msg","to":"Currently Disarmed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":400,"wires":[["abb0d4d4.dbf478"]]},{"id":"285c69cb.df51f6","type":"delay","z":"7289b012.4c592","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1540,"y":360,"wires":[["9c183858.0d3048"]]},{"id":"5a9bc668.04df58","type":"change","z":"7289b012.4c592","name":"already armed string","rules":[{"t":"set","p":"payload","pt":"msg","to":"Already armed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360,"y":440,"wires":[["abb0d4d4.dbf478"]]},{"id":"c6ab2fe.4ddd8d","type":"inject","z":"7289b012.4c592","name":"DOWN inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"firing","payloadType":"str","x":170,"y":1180,"wires":[["72742b51.bbd224","8655d415.6b50f8","8d4b36af.42e078","c13a5cea.40588"]]},{"id":"641d2866.74d1d8","type":"change","z":"7289b012.4c592","name":"admindisarm=7","rules":[{"t":"set","p":"payload","pt":"msg","to":"7","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":580,"wires":[["6bd42f2f.87119"]]},{"id":"2956b683.18d9ba","type":"change","z":"7289b012.4c592","name":"adminarm=6","rules":[{"t":"set","p":"payload","pt":"msg","to":"6","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":640,"wires":[["6bd42f2f.87119"]]},{"id":"dd30d321.19a6","type":"change","z":"7289b012.4c592","name":"Admin armed string","rules":[{"t":"set","p":"payload","pt":"msg","to":"Admin Armed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":480,"wires":[["abb0d4d4.dbf478"]]},{"id":"63885f30.78f8b","type":"change","z":"7289b012.4c592","name":"admin disarmed string","rules":[{"t":"set","p":"payload","pt":"msg","to":"Admin Disarmed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360,"y":520,"wires":[["abb0d4d4.dbf478"]]},{"id":"6d4e61a8.80177","type":"inject","z":"7289b012.4c592","name":"ADMIN DISARM","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":580,"wires":[["641d2866.74d1d8"]]},{"id":"d1e4bbbe.731fd8","type":"inject","z":"7289b012.4c592","name":"ADMIN ARM","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":640,"wires":[["2956b683.18d9ba"]]},{"id":"7852bd8a.782124","type":"telegram command","z":"7289b012.4c592","name":"HELP","command":"/help","bot":"","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":150,"y":1420,"wires":[["86d5425f.3f4c1","8737acf3.d920d"]]},{"id":"86d5425f.3f4c1","type":"change","z":"7289b012.4c592","name":"help string","rules":[{"t":"set","p":"payload","pt":"msg","to":"/fire /left /right /up /down /arm /disarm /test /help","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":1480,"wires":[["abb0d4d4.dbf478"]]},{"id":"8737acf3.d920d","type":"function","z":"7289b012.4c592","name":"keyboard","func":"var opts = {\n  reply_markup: JSON.stringify({\n    keyboard: [\n      ['/fire'],\n      ['/up','/down'],\n      ['/left','/right'],\n      ['/arm','/disarm']],\n      'resize_keyboard' : true,\n      'one_time_keyboard' : false\n  })\n};\n\n\nmsg.error = false;\n// Dialogaufbau\nmsg.payload.content = 'What can I do for you?';\nmsg.payload.options = opts;\n\n\n//msg.payload.chatId = 123445;\n//msg.payload.messageId = 99;\n//msg.payload.sentMessageId = 99;\n//msg.payload.type = \"message\";\n\nreturn [ msg ];\n","outputs":1,"noerr":0,"x":2420,"y":1420,"wires":[["4fbb9bca.348624"]]},{"id":"26f9f84f.0f3268","type":"function","z":"7289b012.4c592","name":"switch format","func":"msg.payload ={\n   dps : 1,\n    set : msg.payload\n}\n\n/*\n\n    */\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1470,"y":620,"wires":[["8bd1a8c3.3e1c48"]]},{"id":"4b18d5d6.628a2c","type":"switch","z":"7289b012.4c592","name":"warning light","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":1130,"y":620,"wires":[["8650b343.d58a3"],["6ce59802.9c2158"]]},{"id":"6ce59802.9c2158","type":"change","z":"7289b012.4c592","name":"on","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1310,"y":640,"wires":[["26f9f84f.0f3268"]]},{"id":"8650b343.d58a3","type":"change","z":"7289b012.4c592","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1310,"y":600,"wires":[["26f9f84f.0f3268"]]},{"id":"8bd1a8c3.3e1c48","type":"tuya-smart-device","z":"7289b012.4c592","deviceName":"Warning Plug","deviceId":"","deviceKey":"","deviceIp":"","retryTimeout":"1000","findTimeout":"1000","tuyaVersion":"3.1","x":1490,"y":660,"wires":[[]]},{"id":"89a0eb08.ba4be8","type":"delay","z":"7289b012.4c592","name":"disarm after firing","pauseType":"delay","timeout":"0.3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":650,"y":340,"wires":[["1be79d92.3fb022"]]},{"id":"9b3b2b32.f99898","type":"function","z":"7289b012.4c592","name":"fire","func":"msg.topic= msg.originalMessage.from.id;\nmsg.payload=0\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":340,"wires":[["6bd42f2f.87119"]]},{"id":"f259e7c1.920338","type":"debug","z":"7289b012.4c592","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1290,"y":100,"wires":[]},{"id":"4c099c4b.8abec4","type":"function","z":"7289b012.4c592","name":"award","func":"msg.payload= \"/award \"+msg.topic+\" 1 TRRT\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1390,"y":160,"wires":[["abb0d4d4.dbf478","403a19c0.a311e8","d10c8286.ba36d"]]},{"id":"78a3f18e.6f068","type":"function","z":"fd268c5e.1a0a4","name":"BURN BABY BURN!","func":"msg.payload = {\n    chatId: -1001473011433,\n    type: 'message',\n    content: \"BURN BABY BURN!\"\n}\n/*\nmsg.payload.type = 'message';\n//var amount = flow.get('amount',amount);\nmsg.payload.content = \"BURN BABY BURN!\";\n//msg.payload.options = {reply_to_message_id : msg.payload.messageId}\nvar chatId = -1001473011433;\nmsg.payload.chatId = chatId;\n*/\nreturn [ msg ];\n","outputs":"1","noerr":0,"initialize":"","finalize":"","x":1300,"y":1100,"wires":[["b5c55b49.7cb028"]]},{"id":"eaea9bbc.96edc8","type":"delay","z":"7289b012.4c592","name":"","pauseType":"delay","timeout":".5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1240,"y":180,"wires":[["4c099c4b.8abec4"]]},{"id":"d10c8286.ba36d","type":"debug","z":"7289b012.4c592","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1750,"y":100,"wires":[]},{"id":"8e12667.0564098","type":"function","z":"7289b012.4c592","name":"store amount","func":"var amount = msg.payload\nflow.set('amount',amount);","outputs":0,"noerr":0,"initialize":"","finalize":"","x":2870,"y":280,"wires":[]},{"id":"a7c8eafc.a27ce8","type":"telegram sender","z":"7289b012.4c592","name":"send question","bot":"","haserroroutput":false,"outputs":1,"x":3500,"y":480,"wires":[[]]},{"id":"458e8fd6.089b5","type":"telegram sender","z":"7289b012.4c592","name":"send question","bot":"","haserroroutput":false,"outputs":1,"x":2740,"y":440,"wires":[["90ac0d45.aa8f5"]]},{"id":"720f3521.20333c","type":"function","z":"7289b012.4c592","name":"No account","func":"var id = flow.get('id',id)\nvar chatid=flow.get('chatid',chatid)\nmsg.payload = {\n    chatId: chatid,\n    type: 'message',\n    content: 'No associated Stellar account. Creating one.'\n}\nvar msgid = flow.get('msgid',msgid);\nmsg.payload.options = {reply_to_message_id : msgid}\n\nreturn msg;\n\n\n\n\n\n\n/*\nmsg.payload.type = 'message';\nmsg.payload.content = 'No associated Stellar account. Creating one.';\n//msg.payload.options = {reply_to_message_id : msg.payload.messageId}\nvar user = msg.payload;\nmsg.payload.chatId = user;\nflow.set('user',user);\n\nreturn [ msg ];\n\n\n\nmsg.payload = {\n    chatId: user,\n    type: 'message',\n    content: msg.payload\n}\n*/","outputs":"1","noerr":0,"initialize":"","finalize":"","x":2550,"y":440,"wires":[["458e8fd6.089b5"]]},{"id":"244c7828.776598","type":"function","z":"7289b012.4c592","name":"check for public","func":"//var id = flow.get('id',id);\n//msg.payload.chatId = user;\n//flow.set('user',user);\nmsg.payload=msg.topic\nmsg.topic = \"SELECT * FROM TeleUsers WHERE id=\"+msg.topic\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2880,"y":240,"wires":[["be492b6c.8551d8"]]},{"id":"2c249af5.a3d516","type":"function","z":"7289b012.4c592","name":"retrieve public","func":"msg.payload=msg.payload[0].public\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2560,"y":400,"wires":[["46517b11.448014","273ce311.89848c"]]},{"id":"be492b6c.8551d8","type":"sqlite","z":"7289b012.4c592","mydb":"29235876.a28e58","sqlquery":"msg.topic","sql":"","name":"TelegramUsers","x":3100,"y":240,"wires":[["f5900cd0.06588"]]},{"id":"f5900cd0.06588","type":"switch","z":"7289b012.4c592","name":"user check","property":"payload[0].id","propertyType":"msg","rules":[{"t":"eq","v":"id","vt":"flow"},{"t":"null"}],"checkall":"false","repair":false,"outputs":2,"x":3090,"y":320,"wires":[["2c249af5.a3d516"],["720f3521.20333c"]]},{"id":"129b26b3.71ae59","type":"function","z":"7289b012.4c592","name":"awarded TRRT","func":"var id = flow.get('id',id)\nvar amount = flow.get('amount',amount)\nvar chatid=flow.get('chatid',chatid)\nmsg.payload = {\n    chatId: chatid,\n    type: 'message',\n    content: 'Success! Awarded '+amount+' TRRT to '+id\n}\nvar msgid = flow.get('msgid',msgid);\nmsg.payload.options = {reply_to_message_id : msgid}\n\n\n\nreturn [ msg ];\n\n/*\nmsg.payload = {\n    chatId: user,\n    type: 'message',\n    content: msg.payload\n}\n\n\nmsg.payload.type = 'message';\nvar amount = flow.get('amount',amount);\nmsg.payload.content = \"AWARDING \"+amount+\" TRRT!\";\n//msg.payload.options = {reply_to_message_id : msg.payload.messageId}\nvar chatId = flow.get('chatId',chatId);\nmsg.payload.chatId = chatId;\n\n\nreturn msg;\n\n\n\n*/","outputs":"1","noerr":0,"initialize":"","finalize":"","x":3360,"y":400,"wires":[["a7c8eafc.a27ce8","33880898.e1db78"]]},{"id":"bbcb52b9.c44b3","type":"split","z":"7289b012.4c592","name":"","splt":" ","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":true,"addname":"","x":2490,"y":260,"wires":[["7460f2ec.49ec0c","b44ebfdf.09714"]]},{"id":"ba748626.8ed8c8","type":"function","z":"7289b012.4c592","name":"msg.payload","func":"msg.payload=msg.payload.content\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2310,"y":260,"wires":[["bbcb52b9.c44b3","ea9adb35.865f68"]]},{"id":"7460f2ec.49ec0c","type":"function","z":"7289b012.4c592","name":"topic=id \\n payload=amount","func":"var count = context.get('count',count)\ncount++;\ncontext.set('count',count)\n//var id = context.get('id',id)\n\nif (count===1){\n}\nif (count===2){\n    id=msg.payload;\n    flow.set('id',id)\n}\nif (count===3){\n    count=0;\n    context.set('count',count)\n    msg.topic=id;\n    return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nvar count = 0\ncontext.set('count',count)\nvar id = 0\nflow.set('id',id)","finalize":"","x":2670,"y":260,"wires":[["244c7828.776598","8e12667.0564098","1d039c33.cbc014"]]},{"id":"46517b11.448014","type":"function","z":"7289b012.4c592","name":"Submit TRRT award","func":"var StellarSdk = global.get(\"stellarsdk\");\nvar server = new StellarSdk.Server(\"https://horizon-testnet.stellar.org\");\nvar secret = \"\";\nvar recipient = msg.payload;\nvar amount = flow.get('amount',amount);\n\nvar sourceKeys = StellarSdk.Keypair.fromSecret(secret);\nvar destinationId = recipient;\n// Transaction will hold a built transaction we can resubmit if the result is unknown.\nvar transaction;\n\n// First, check to make sure that the destination account exists.\n// You could skip this, but if the account does not exist, you will be charged\n// the transaction fee when the transaction fails.\nserver\n  .loadAccount(destinationId)\n  // If the account is not found, surface a nicer error message for logging.\n  .catch(function (error) {\n    if (error instanceof StellarSdk.NotFoundError) {\n      throw new Error(\"The destination account does not exist!\");\n    } else return error;\n  })\n  // If there was no error, load up-to-date information on your account.\n  .then(function () {\n    return server.loadAccount(sourceKeys.publicKey());\n  })\n  .then(function (sourceAccount) {\n    // Start building the transaction.\n    transaction = new StellarSdk.TransactionBuilder(sourceAccount, {\n      fee: StellarSdk.BASE_FEE,\n      networkPassphrase: StellarSdk.Networks.TESTNET,\n    })\n      .addOperation(\n        StellarSdk.Operation.payment({\n          destination: destinationId,\n          // Because Stellar allows transaction in many currencies, you must\n          // specify the asset type. The special \"native\" asset represents Lumens.\n          //asset: StellarSdk.Asset.native(),\n          asset: new StellarSdk.Asset(\"TRRT\",\"GARCVA5752SK34MMPQJ2NI4UYMNP35BN43PEEC5DCYFOSF3ICOTPJBCT\"),\n          amount: amount,\n        }),\n      )\n      // A memo allows you to add your own metadata to a transaction. It's\n      // optional and does not affect how Stellar treats the transaction.\n      .addMemo(StellarSdk.Memo.text('Award from TurretCannoneer'))\n      // Wait a maximum of three minutes for the transaction\n      .setTimeout(180)\n      .build();\n    // Sign the transaction to prove you are actually the person sending it.\n    transaction.sign(sourceKeys);\n    // And finally, send it off to Stellar!\n    return server.submitTransaction(transaction);\n  })\n  .then(function (result) {\n    console.log(\"Success! Results:\", result);\n    msg.payload=\"Success\"+\" https://stellar.expert/explorer/testnet/account/\"+sourceKeys.publicKey();\n    node.send(msg);\n  })\n  .catch(function (error) {\n    console.error(\"Something went wrong!\", error);\n    // If the result is unknown (no response body, timeout etc.) we simply resubmit\n    // already built transaction:\n    // server.submitTransaction(transaction);\n  });","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3220,"y":500,"wires":[["129b26b3.71ae59","9b7fd610.8006f8"]]},{"id":"90ac0d45.aa8f5","type":"function","z":"7289b012.4c592","name":"return keypair","func":"const fetch = global.get(\"nodefetch\");\n\nvar StellarSdk = global.get(\"stellarsdk\");\n// create a completely new and unique pair of keys\n// see more about KeyPair objects: https://stellar.github.io/js-stellar-sdk/Keypair.html\nconst pair = StellarSdk.Keypair.random();\n\n//console.log(pair.secret());\n//msg.payload = \"Pair secret: \" + pair.secret()\n//node.send(msg)\n// SAV76USXIJOBMEQXPANUOQM6F5LIOTLPDIDVRJBFFE2MDJXG24TAPUU7\n//console.log(pair.publicKey());\n//msg.payload = \"Pair publickey: \" + pair.publicKey()\n//node.send(msg)\n// GCFXHS4GXL6BVUCXBWXGTITROWLVYXQKQLF4YH5O5JT3YZXCYPAFBJZB\nasync function main() {\n  try {\n    const response = await fetch(\n      `https://friendbot.stellar.org?addr=${encodeURIComponent(\n        pair.publicKey(),\n      )}`,\n    );\n    const responseJSON = await response.json();\n    console.log(\"SUCCESS! You have a new account :)\\n\", responseJSON);\n  } catch (e) {\n    console.log(\"ERROR!\", e);\n  }\n\n\n}\nmain()\nvar user = msg.originalMessage.from.id;\nflow.set('user',user);\nmsg.payload=pair.secret();\n\nmsg.topic=pair.publicKey();\n//msg.payload.chatId=user;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2260,"y":560,"wires":[["c458b919.392728","26d33efc.94e8b2","9de6161.ad0b6e8","b3d745d0.4264e8","e331f754.e3e1d8","5f5e542e.2a50bc"]]},{"id":"d936aa1f.be3778","type":"comment","z":"7289b012.4c592","name":"Generate Keypair","info":"","x":2260,"y":520,"wires":[]},{"id":"5f5e542e.2a50bc","type":"function","z":"7289b012.4c592","name":"Create public message","func":"var user = flow.get('user',user)\nmsg.payload = {\n    chatId: user,\n    type: 'message',\n    content: 'Public Key: '+msg.topic\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2520,"y":560,"wires":[["30d5136e.4a87dc"]]},{"id":"30d5136e.4a87dc","type":"telegram sender","z":"7289b012.4c592","name":"send msg","bot":"","haserroroutput":false,"outputs":1,"x":2860,"y":560,"wires":[[]]},{"id":"c458b919.392728","type":"function","z":"7289b012.4c592","name":"Create private message","func":"var user = flow.get('user',user)\nmsg.payload = {\n    chatId: user,\n    type: 'message',\n    content: 'Secret Key: '+msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2530,"y":600,"wires":[["30d5136e.4a87dc"]]},{"id":"9f5677ba.a00248","type":"sqlite","z":"7289b012.4c592","mydb":"29235876.a28e58","sqlquery":"msg.topic","sql":"","name":"TelegramUsers","x":2660,"y":640,"wires":[[]]},{"id":"26d33efc.94e8b2","type":"function","z":"7289b012.4c592","name":"add user","func":"var user = flow.get('user',user);\nvar private = msg.payload;\nvar public = msg.topic;\n\nmsg.topic = \"INSERT INTO TeleUsers(id, public, private) values(\"+user+\", \"+'\"'+public+'\", '+'\"'+private+'\")'\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2480,"y":640,"wires":[["9f5677ba.a00248"]]},{"id":"9de6161.ad0b6e8","type":"delay","z":"7289b012.4c592","name":"","pauseType":"delay","timeout":"8","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2480,"y":740,"wires":[["44d92ad8.63ec64"]]},{"id":"44d92ad8.63ec64","type":"function","z":"7289b012.4c592","name":"add trust","func":"var StellarSdk = global.get(\"stellarsdk\");\nvar server = new StellarSdk.Server(\"https://horizon-testnet.stellar.org\");\nvar secret = msg.payload;\nvar amount = flow.get('amount',amount);\n\nvar sourceKeys = StellarSdk.Keypair.fromSecret(secret);\n//var destinationId = recipient;\n// Transaction will hold a built transaction we can resubmit if the result is unknown.\nvar transaction;\n\n// First, check to make sure that the destination account exists.\n// You could skip this, but if the account does not exist, you will be charged\n// the transaction fee when the transaction fails.\nserver\n  .loadAccount(sourceKeys.publicKey())\n\n  .then(function (sourceAccount) {\n    // Start building the transaction.\n    transaction = new StellarSdk.TransactionBuilder(sourceAccount, {\n      fee: StellarSdk.BASE_FEE,\n      networkPassphrase: StellarSdk.Networks.TESTNET,\n    })\n      .addOperation(\n        StellarSdk.Operation.changeTrust({\n          //destination: destinationId,\n          // Because Stellar allows transaction in many currencies, you must\n          // specify the asset type. The special \"native\" asset represents Lumens.\n          //asset: StellarSdk.Asset.native(),\n          asset: new StellarSdk.Asset(\"TRRT\",\"GARCVA5752SK34MMPQJ2NI4UYMNP35BN43PEEC5DCYFOSF3ICOTPJBCT\"),\n          //amount: amount,\n        }),\n      )\n      // A memo allows you to add your own metadata to a transaction. It's\n      // optional and does not affect how Stellar treats the transaction.\n      .addMemo(StellarSdk.Memo.text('Via BlockShangerous NodeRed'))\n      // Wait a maximum of three minutes for the transaction\n      .setTimeout(180)\n      .build();\n    // Sign the transaction to prove you are actually the person sending it.\n    transaction.sign(sourceKeys);\n    // And finally, send it off to Stellar!\n    return server.submitTransaction(transaction);\n  })\n  .then(function (result) {\n    console.log(\"Success! Results:\", result);\n    msg.payload=\"Success\"+\" https://stellar.expert/explorer/testnet/account/\"+sourceKeys.publicKey();\n    node.send(msg);\n  })\n  .catch(function (error) {\n    console.error(\"Something went wrong!\", error);\n    // If the result is unknown (no response body, timeout etc.) we simply resubmit\n    // already built transaction:\n    // server.submitTransaction(transaction);\n  });","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2660,"y":740,"wires":[["b34e5b09.47ac88"]]},{"id":"d051173a.dca318","type":"inject","z":"7289b012.4c592","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"SBL526IAFWJBPQMYVSARCH6OKJ3ZCK4BNN2LG4F7VEQFNWV77RJSABLH","payloadType":"str","x":2410,"y":780,"wires":[["44d92ad8.63ec64","e7622ae7.ed58c8"]]},{"id":"e7622ae7.ed58c8","type":"function","z":"7289b012.4c592","name":"Create trustline message","func":"var user = flow.get('user',user)\nmsg.payload = {\n    chatId: user,\n    type: 'message',\n    content: 'Adding Trustline to TRRT'\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2710,"y":700,"wires":[["30d5136e.4a87dc"]]},{"id":"b34e5b09.47ac88","type":"function","z":"7289b012.4c592","name":"Create success message","func":"var user = flow.get('user',user)\nmsg.payload = {\n    chatId: user,\n    type: 'message',\n    content: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2970,"y":720,"wires":[["30d5136e.4a87dc","50652189.844b4"]]},{"id":"b3d745d0.4264e8","type":"delay","z":"7289b012.4c592","name":"","pauseType":"delay","timeout":"12","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":3040,"y":600,"wires":[["56e27cad.9fe194"]]},{"id":"56e27cad.9fe194","type":"change","z":"7289b012.4c592","name":"public","rules":[{"t":"set","p":"payload","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3190,"y":600,"wires":[["46517b11.448014"]]},{"id":"5295836f.eefb7c","type":"function","z":"7289b012.4c592","name":"store chat info","func":"//var msgid = msg.payload.messageId\n//flow.set('msgid',msgid);\nvar chatid = -1001473011433\nflow.set('chatid',chatid);\nvar user = msg.topic\nflow.set('user',user)\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2320,"y":140,"wires":[["643099a7.3db5f8","ac43f8ea.f64b88"]]},{"id":"1d039c33.cbc014","type":"function","z":"7289b012.4c592","name":"Awarding message","func":"var user = flow.get('user',user)\nvar chatid=flow.get('chatid',chatid)\nvar amount = flow.get('amount',amount)\nmsg.payload = {\n    chatId: chatid,\n    type: 'message',\n    content: \"Awarding \"+amount+\" TRRT to \"+msg.topic\n}\nvar msgid = flow.get('msgid',msgid);\nmsg.payload.options = {reply_to_message_id : msgid}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2890,"y":200,"wires":[["5451c638.3bab78"]]},{"id":"5451c638.3bab78","type":"telegram sender","z":"7289b012.4c592","name":"send msg","bot":"","haserroroutput":false,"outputs":1,"x":3080,"y":200,"wires":[[]]},{"id":"e331f754.e3e1d8","type":"delay","z":"7289b012.4c592","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2480,"y":700,"wires":[["e7622ae7.ed58c8"]]},{"id":"643099a7.3db5f8","type":"function","z":"7289b012.4c592","name":"user check","func":"var user=flow.get('user',user)\nif(user===1428193011){\n   return [msg,null]; \n}\nelse{\n    return [null,msg]\n}\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":2550,"y":200,"wires":[["ba748626.8ed8c8"],["ba2e70b2.db5e9"]]},{"id":"87545e01.23927","type":"telegram sender","z":"7289b012.4c592","name":"send question","bot":"","haserroroutput":false,"outputs":1,"x":2880,"y":140,"wires":[[]]},{"id":"ba2e70b2.db5e9","type":"function","z":"7289b012.4c592","name":"not auth","func":"var id = flow.get('id',id)\nvar amount = flow.get('amount',amount)\nvar chatid=flow.get('chatid',chatid)\nmsg.payload = {\n    chatId: chatid,\n    type: 'message',\n    content: 'User not authorized to send awards.'\n}\nvar msgid = flow.get('msgid',msgid);\nmsg.payload.options = {reply_to_message_id : msgid}\n\n\n\nreturn [ msg ];\n\n/*\nmsg.payload = {\n    chatId: user,\n    type: 'message',\n    content: msg.payload\n}\n\n\nmsg.payload.type = 'message';\nvar amount = flow.get('amount',amount);\nmsg.payload.content = \"AWARDING \"+amount+\" TRRT!\";\n//msg.payload.options = {reply_to_message_id : msg.payload.messageId}\nvar chatId = flow.get('chatId',chatId);\nmsg.payload.chatId = chatId;\n\n\nreturn msg;\n\n\n\n*/","outputs":"1","noerr":0,"initialize":"","finalize":"","x":2720,"y":140,"wires":[["87545e01.23927"]]},{"id":"e53ac3b0.9cac6","type":"telegram command","z":"7289b012.4c592","name":"award","command":"/award","bot":"","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":2070,"y":180,"wires":[["95185d94.8469e"],[]]},{"id":"95185d94.8469e","type":"function","z":"7289b012.4c592","name":"topic=id","func":"msg.topic= msg.originalMessage.from.id;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2220,"y":180,"wires":[["5295836f.eefb7c"]]},{"id":"ea9adb35.865f68","type":"debug","z":"7289b012.4c592","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2330,"y":400,"wires":[]},{"id":"33880898.e1db78","type":"debug","z":"7289b012.4c592","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":3540,"y":320,"wires":[]},{"id":"ac43f8ea.f64b88","type":"debug","z":"7289b012.4c592","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2530,"y":80,"wires":[]},{"id":"403a19c0.a311e8","type":"function","z":"7289b012.4c592","name":"store chat info","func":"//var msgid = msg.payload.messageId\n//flow.set('msgid',msgid);\nvar chatid = -1001473011433\nflow.set('chatid',chatid);\nvar user = 1428193011\nflow.set('user',user)\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2320,"y":100,"wires":[["1b2a6bef.8cceb4","bbcb52b9.c44b3"]]},{"id":"1b2a6bef.8cceb4","type":"debug","z":"7289b012.4c592","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2560,"y":40,"wires":[]},{"id":"b44ebfdf.09714","type":"debug","z":"7289b012.4c592","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2660,"y":340,"wires":[]},{"id":"273ce311.89848c","type":"debug","z":"7289b012.4c592","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":3090,"y":420,"wires":[]},{"id":"9b7fd610.8006f8","type":"debug","z":"7289b012.4c592","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":3430,"y":580,"wires":[]},{"id":"4e11b3e5.57a00c","type":"delay","z":"fd268c5e.1a0a4","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1250,"y":240,"wires":[["a06c3c41.64ace"]]},{"id":"825f36ae.e014b8","type":"function","z":"fd268c5e.1a0a4","name":"puffs","func":"var count = flow.get('count',count)\n\n\nif (count>0){\n    count=count-1\n    flow.set('count',count)\n   return msg; \n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1610,"y":180,"wires":[["4908bda1.1e69f4"]]},{"id":"2a90b7ce.921848","type":"function","z":"fd268c5e.1a0a4","name":"count=","func":"var amount_rec=flow.get('amount_rec',amount_rec)\nvar count=amount_rec\nflow.set('count',count)\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nvar wait=0\nflow.set('wait',wait)","finalize":"","x":1210,"y":140,"wires":[[]]},{"id":"3e336d2e.bb3cd2","type":"debug","z":"fd268c5e.1a0a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1610,"y":420,"wires":[]},{"id":"cbd7e31.309f92","type":"inject","z":"fd268c5e.1a0a4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1390,"y":140,"wires":[["825f36ae.e014b8"]]},{"id":"960ba549.755278","type":"debug","z":"fd268c5e.1a0a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1130,"y":60,"wires":[]},{"id":"fd5862cf.e0913","type":"function","z":"fd268c5e.1a0a4","name":"FIREBALL!","func":"msg.payload = {\n    chatId: -1001473011433,\n    type: 'message',\n    content: \"FIREBALL!\"\n}\n/*\nmsg.payload.type = 'message';\n//var amount = flow.get('amount',amount);\nmsg.payload.content = \"BURN BABY BURN!\";\n//msg.payload.options = {reply_to_message_id : msg.payload.messageId}\nvar chatId = -1001473011433;\nmsg.payload.chatId = chatId;\n*/\nreturn [ msg ];\n","outputs":"1","noerr":0,"initialize":"","finalize":"","x":1290,"y":1060,"wires":[["b5c55b49.7cb028"]]},{"id":"acc5a18f.7fe19","type":"debug","z":"fd268c5e.1a0a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1540,"y":940,"wires":[]},{"id":"96f0d18f.43838","type":"debug","z":"fd268c5e.1a0a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":920,"y":1220,"wires":[]},{"id":"b8749104.cb83e","type":"debug","z":"fd268c5e.1a0a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":110,"y":680,"wires":[]},{"id":"8d8ba4d.b102958","type":"debug","z":"fd268c5e.1a0a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":900,"wires":[]},{"id":"d499f2c8.9669b","type":"switch","z":"fd268c5e.1a0a4","name":"","property":"flamearm","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":370,"y":600,"wires":[["bc15c64.ec9fc38"],["b53eb80.7879f48"]]},{"id":"abcdd0ef.6e1f2","type":"split","z":"7289b012.4c592","name":"","splt":" ","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":true,"addname":"","x":330,"y":820,"wires":[["a3a1a71e.4a8f68"]]},{"id":"869b79f4.182d28","type":"inject","z":"7289b012.4c592","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":410,"y":1600,"wires":[["322ff78.96d7f08"]]},{"id":"a3a1a71e.4a8f68","type":"function","z":"7289b012.4c592","name":"payload=amount","func":"var counter = context.get('counter',counter)\ncounter++;\ncontext.set('counter',counter)\n//var id = context.get('id',id)\n\nif (counter===1){\n}\nif (counter===2){\n}\nif (counter===3){\n}\nif (counter===4){\n    counter=0;\n    context.set('counter',counter)\n    msg.delay=msg.payload*1000;\n    return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nvar counter = 0\ncontext.set('counter',counter)\n//var id = 0\n//flow.set('id',id)","finalize":"","x":530,"y":820,"wires":[["690c1299.04b16c"]]},{"id":"690c1299.04b16c","type":"switch","z":"7289b012.4c592","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"false","repair":false,"outputs":2,"x":750,"y":820,"wires":[["478f8a4a.921b34","b230b4c6.b4ade8","e502a13e.cf8f5","55f52d6b.177da4"],["86a36698.96c938","b230b4c6.b4ade8","e502a13e.cf8f5","6df1374c.f3b868"]]},{"id":"86a36698.96c938","type":"delay","z":"7289b012.4c592","name":"","pauseType":"delayv","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1140,"y":980,"wires":[["43e1e504.db9e6c"]]},{"id":"ff6f3a21.810468","type":"split","z":"7289b012.4c592","name":"","splt":" ","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":true,"addname":"","x":330,"y":880,"wires":[["264510bf.ec9ca"]]},{"id":"264510bf.ec9ca","type":"function","z":"7289b012.4c592","name":"payload=amount","func":"var counter = context.get('counter',counter)\ncounter++;\ncontext.set('counter',counter)\n//var id = context.get('id',id)\n\nif (counter===1){\n}\nif (counter===2){\n}\nif (counter===3){\n}\nif (counter===4){\n    counter=0;\n    context.set('counter',counter)\n    msg.delay=msg.payload*1000;\n    return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nvar counter = 0\ncontext.set('counter',counter)\n//var id = 0\n//flow.set('id',id)","finalize":"","x":530,"y":880,"wires":[["138f2d96.3747f2"]]},{"id":"138f2d96.3747f2","type":"switch","z":"7289b012.4c592","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"false","repair":false,"outputs":2,"x":750,"y":880,"wires":[["8ae333e0.18cde","8661cf83.637d1","478f8a4a.921b34","71b3fb.636bdc04"],["8ae333e0.18cde","8661cf83.637d1","86a36698.96c938","d84eabdb.30c978"]]},{"id":"d84eabdb.30c978","type":"function","z":"7289b012.4c592","name":"rizzo","func":"msg.payload= \"to the rizzo \"+ \"(\"+msg.payload+\"s)\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":1080,"wires":[["abb0d4d4.dbf478"]]},{"id":"6df1374c.f3b868","type":"function","z":"7289b012.4c592","name":"lefticles","func":"msg.payload= \"activating lefticles \"+ \"(\"+msg.payload+\"s)\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":1040,"wires":[["abb0d4d4.dbf478"]]},{"id":"f4482c83.fb8d7","type":"comment","z":"f06faaff.913308","name":"Generate Keypair","info":"","x":760,"y":1040,"wires":[]},{"id":"20c6738.6853c8c","type":"function","z":"f06faaff.913308","name":"Create public message","func":"\nmsg.payload = {\n    chatId: -1001473011433,\n    type: 'message',\n    content: 'You gotta DM this bot before it can give you private account info. Slide on in.'\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":1100,"wires":[["6943c33e.a6a38c"]]},{"id":"6943c33e.a6a38c","type":"telegram sender","z":"f06faaff.913308","name":"send msg","bot":"","haserroroutput":false,"outputs":1,"x":1460,"y":1100,"wires":[[]]},{"id":"c5c2475d.55eb88","type":"function","z":"f06faaff.913308","name":"Create private message","func":"var user = flow.get('user',user)\nmsg.payload = {\n    chatId: user,\n    type: 'message',\n    content: 'Secret Key: '+msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1130,"y":1140,"wires":[["6943c33e.a6a38c"]]},{"id":"21577b1c.8bfa94","type":"telegram command","z":"f06faaff.913308","name":"account","command":"/account","bot":"","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":410,"y":1000,"wires":[["2fea9f97.cfb88","5d043ea8.16b6b"],[]]},{"id":"2fea9f97.cfb88","type":"debug","z":"f06faaff.913308","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":1000,"wires":[]},{"id":"5d043ea8.16b6b","type":"function","z":"f06faaff.913308","name":"topic=id","func":"var user = msg.originalMessage.from.id;\nflow.set('user',user)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":1080,"wires":[["ed7e726f.8b57c"]]},{"id":"f6b60708.ba88a8","type":"function","z":"f06faaff.913308","name":"public key","func":"var user = flow.get('user',user)\nmsg.payload = {\n    chatId: user,\n    type: 'message',\n    content: 'Public Key: '+msg.payload[0].public\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":1000,"wires":[["6943c33e.a6a38c"]]},{"id":"86bcfc5a.96632","type":"function","z":"f06faaff.913308","name":"link","func":"var user = flow.get('user',user)\nmsg.payload = {\n    chatId: user,\n    type: 'message',\n    content: \"https://stellar.expert/explorer/testnet/account/\"+msg.payload[0].public\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1330,"y":1000,"wires":[["6943c33e.a6a38c"]]},{"id":"66f30e2e.8ca7a","type":"debug","z":"f06faaff.913308","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1250,"y":1280,"wires":[]},{"id":"b1582ca2.7e05a","type":"sqlite","z":"f06faaff.913308","mydb":"29235876.a28e58","sqlquery":"msg.topic","sql":"","name":"TelegramUsers","x":740,"y":1220,"wires":[["bb46f2da.20306"]]},{"id":"bb46f2da.20306","type":"switch","z":"f06faaff.913308","name":"get json","property":"payload[0].id","propertyType":"msg","rules":[{"t":"eq","v":"user","vt":"flow"},{"t":"null"}],"checkall":"false","repair":false,"outputs":2,"x":880,"y":1140,"wires":[["618486d7.d33688","f6b60708.ba88a8","6a585074.6489a"],[]]},{"id":"618486d7.d33688","type":"function","z":"f06faaff.913308","name":"topic=public payload=private","func":"msg.payload=msg.payload[0].private\n//msg.topic=msg.payload[0].public\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":1280,"wires":[["20c6738.6853c8c","c5c2475d.55eb88","66f30e2e.8ca7a"]]},{"id":"ed7e726f.8b57c","type":"function","z":"f06faaff.913308","name":"check for secret","func":"var user = msg.originalMessage.from.id;\nmsg.payload.chatId = user;\nflow.set('user',user);\n\nmsg.topic = \"SELECT * FROM TeleUsers WHERE id=\"+user\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":1140,"wires":[["b1582ca2.7e05a"]]},{"id":"56bab5b5.2953dc","type":"function","z":"f06faaff.913308","name":"create and testfund keypair \\n payload=secret topic=public","func":"const fetch = global.get(\"nodefetch\");\n\nvar StellarSdk = global.get(\"stellarsdk\");\n// create a completely new and unique pair of keys\n// see more about KeyPair objects: https://stellar.github.io/js-stellar-sdk/Keypair.html\nconst pair = StellarSdk.Keypair.random();\n\n//console.log(pair.secret());\n//msg.payload = \"Pair secret: \" + pair.secret()\n//node.send(msg)\n// SAV76USXIJOBMEQXPANUOQM6F5LIOTLPDIDVRJBFFE2MDJXG24TAPUU7\n//console.log(pair.publicKey());\n//msg.payload = \"Pair publickey: \" + pair.publicKey()\n//node.send(msg)\n// GCFXHS4GXL6BVUCXBWXGTITROWLVYXQKQLF4YH5O5JT3YZXCYPAFBJZB\nasync function main() {\n  try {\n    const response = await fetch(\n      `https://friendbot.stellar.org?addr=${encodeURIComponent(\n        pair.publicKey(),\n      )}`,\n    );\n    const responseJSON = await response.json();\n    console.log(\"SUCCESS! You have a new account :)\\n\", responseJSON);\n  } catch (e) {\n    console.log(\"ERROR!\", e);\n  }\n\n\n}\nmain()\nvar user = msg.originalMessage.from.id;\nflow.set('user',user);\nmsg.payload=pair.secret();\n\nmsg.topic=pair.publicKey();\n//msg.payload.chatId=user;\n\nmsg.id= msg.originalMessage.from.id;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1380,"wires":[[]]},{"id":"6a585074.6489a","type":"delay","z":"f06faaff.913308","name":"","pauseType":"delay","timeout":".25","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1200,"y":920,"wires":[["86bcfc5a.96632"]]},{"id":"50652189.844b4","type":"function","z":"7289b012.4c592","name":"Create public message","func":"\nmsg.payload = {\n    chatId: -1001473011433,\n    type: 'message',\n    content: 'You gotta DM this bot before it can give you private account info. Slide on in. Then type /account'\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3140,"y":780,"wires":[["30d5136e.4a87dc"]]},{"id":"bc15c64.ec9fc38","type":"split","z":"fd268c5e.1a0a4","name":"","splt":" ","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":true,"addname":"","x":550,"y":620,"wires":[["ad539dee.4248","742495e9.3cb9ac"]]},{"id":"ad539dee.4248","type":"function","z":"fd268c5e.1a0a4","name":"payload=amount","func":"var counter = context.get('counter',counter)\ncounter++;\ncontext.set('counter',counter)\n//var id = context.get('id',id)\n\nif (counter===1){\n}\nif (counter===2){\n}\nif (counter===3){\n}\nif (counter===4){\n    counter=0;\n    context.set('counter',counter)\n    msg.delay=msg.payload*1000;\n    return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nvar counter = 0\ncontext.set('counter',counter)\n//var id = 0\n//flow.set('id',id)","finalize":"","x":750,"y":620,"wires":[["2d2f2718.4e3cc8"]]},{"id":"2d2f2718.4e3cc8","type":"switch","z":"fd268c5e.1a0a4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"false","repair":false,"outputs":2,"x":970,"y":620,"wires":[["6902f842.27eec8","bb83cfc5.551f7"],["adaf9153.89c2","6902f842.27eec8"]]},{"id":"742495e9.3cb9ac","type":"debug","z":"fd268c5e.1a0a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":580,"wires":[]},{"id":"bb83cfc5.551f7","type":"function","z":"fd268c5e.1a0a4","name":"store amount","func":"var amount = \"1\";\nflow.set('amount',amount);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1150,"y":620,"wires":[[]]},{"id":"82d20e9b.67948","type":"debug","z":"fd268c5e.1a0a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1370,"y":760,"wires":[]},{"id":"bb2e0b05.447f98","type":"switch","z":"fd268c5e.1a0a4","name":"","property":"amount","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"nnull"}],"checkall":"false","repair":false,"outputs":2,"x":1130,"y":1040,"wires":[["fd5862cf.e0913"],["78a3f18e.6f068"]]},{"id":"71b3fb.636bdc04","type":"function","z":"7289b012.4c592","name":"rizzo","func":"msg.payload= \"to the rizzo (default-2s)\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1270,"y":1080,"wires":[["abb0d4d4.dbf478"]]},{"id":"55f52d6b.177da4","type":"function","z":"7289b012.4c592","name":"lefticles","func":"msg.payload= \"activating lefticles (default-2s)\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1280,"y":1040,"wires":[["abb0d4d4.dbf478"]]}]